.footer {
    background-color: $color-background;
    padding: 60px 0;

    @media screen and (max-width: $brk-point-desktop-) {
        text-align: center;
    }
}

.footer__container {
    @media screen and (min-width: $brk-point-desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.footer-contacts-container {
    @media screen and (min-width: $brk-point-tablet) {
        display: inline-flex;
    }
}

.footer-address {
    margin-top: 20px;
}

.address-list__item {
    height: 21px;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.address-list__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &--white-color {
        color: $color-third-text;
    }
}

.social-links {
    @media screen and (max-width: $brk-point-tablet-) {
        margin-top: 60px;
    }
    
    @media screen and (min-width: $brk-point-tablet) and (max-width: $brk-point-desktop-) {
        margin-top: 5px;
        margin-left: 165px;
    }

    @media screen and (min-width: $brk-point-desktop) {
        margin-top: 12px;
        margin-left: 70px;
    }
}

.social-links__slogan,
.subscribe-form__slogan {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-third-text;
}

.social-list {
    display: inline-flex;
}

.social-list__item:not(:last-child) {
    margin-right: 10px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    fill: currentColor;

    transition: background-color $trans-dur $trans-time-func,
        color $trans-dur $trans-time-func;

        &--dark-bg {
            background-color: rgba(255, 255, 255, 0.1);
            color: #FFF;
        }

        &:hover,
        &:focus {
            background-color: $color-accent;
            color: #FFF;
        }
}
