.subscribe-form {
    @media screen and (max-width: $brk-point-desktop-) {
        margin-top: 60px;
    }

    @media screen and (min-width: $brk-point-desktop) {
        display: flex;
        align-items: flex-end;
        margin-top: 12px;
        margin-bottom: auto;
    }
    
}

.subscribe-form__field {
    display: flex;
    flex-direction: column;
}

.subscribe-form__input {
    padding: 14px 15px;
    background-color: $color-background;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.25;
    color: $color-third-text;
    outline: none;

    transition: border-color $trans-dur $trans-time-func;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        border-color: $color-accent;
    }

    @media screen and (max-width: $brk-point-mobile) {
        max-width: 450px;
    }

    @media screen and (min-width: $brk-point-tablet) and (max-width: $brk-point-desktop-) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $brk-point-desktop) {
        width: 358px;
    }
}

.subscribe-form__submit-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    @media screen and (min-width: $brk-point-tablet) and (max-width: $brk-point-desktop-) {
        margin-left: 7px;
    }

    @media screen and (min-width: $brk-point-desktop) {
        margin-left: 12px;
    }
}

.subscribe-form__btn-icon {
    margin-left: 10px;
}