.subscribe-form {
    // display: flex;
    // align-items: flex-end;
    // margin-left: auto;
    margin-bottom: auto;
    margin-top: 60px;
}

.subscribe-form__field {
    display: flex;
    flex-direction: column;
}

.subscribe-form__input {
    padding: 14px 15px;
    margin-bottom: 20px;
    max-width: 450px;
    background-color: $color-background;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.25;
    color: $color-third-text;
    outline: none;

    transition: border-color $trans-dur $trans-time-func;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        border-color: $color-accent;
    }
}

.subscribe-form__submit-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.subscribe-form__btn-icon {
    margin-left: 10px;
}