.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
}

.menu-button {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;

    &.is-open .menu-button__icon-cross {
        display: block;
    }
    &.is-open .menu-button__icon-menu {
        display: none;
    }
}

.menu-button__icon-cross {
    display: none;
}

.menu-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;

    display: none;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-y: auto;

    &.is-open {
        display: flex;
    }
}

.nav-list {
}

.nav-list__item {
    margin-bottom: 32px;
}

.nav-list__link {
    font-weight: 500;
    font-size: 40px;
    line-height: (47px / 40px);
    letter-spacing: 0.02em;
    color: $color-main-text;
}

.nav-list__link--current {
    // position: relative;
    color: $color-accent;

    // &::after {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     content: "";
    //     width: 100%;
    //     height: 4px;
    //     background-color: $color-accent;
    //     border-radius: 2px;
    }

.contacts-list {
    display: flex;
    flex-direction: column-reverse;
}

.contacts-list__item:not(:last-child) {
    // margin-right: 30px;
}

.contacts-list__item {
    font-weight: 500;
    letter-spacing: 0.02em;

    &--mail {
        padding-bottom: 64px;
        font-size: 24px;
        line-height: (28px / 24px);
        color: $color-sec-text;
    }
    &--tel {
        padding-bottom: 32px;
        font-size: 34px;
        line-height: (40px / 34px);
        color: $color-accent;
    }
}
.contacts-list__link {
    color: inherit;
}


.contacts-list__icon {
    // margin-right: 10px;
    // fill: currentColor;
    display: none;
}

.header-social {
    display: flex;
    flex-wrap: wrap;
}
.header-social--item {

    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
        padding-left: 10px;
    }
}



.header-social--link {
    font-weight: 500;
    font-size: 18px;
    line-height: (22px / 18px);
    letter-spacing: 0.02em;
    color: $color-accent;
}

