.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;

    @media screen and (min-width: $brk-point-tablet) {
        min-height: 80px;
    }
}

.menu-button {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: fill $trans-dur $trans-time-func;

    &:hover {
        fill: $color-accent;
    }

    &.is-open .menu-button__icon-cross {
        display: block;
    }
    &.is-open .menu-button__icon-menu {
        display: none;
    }

    @media screen and (min-width: $brk-point-tablet) {
        display: none;
    }
}

.menu-button__icon-cross {
    display: none;
    // fill: currentColor;
}

.menu-container {
    @media  screen and (max-width: $brk-point-tablet- ) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        flex-direction: column;
        justify-content: space-between;
        padding: 48px 40px;

        display: none;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        overflow-y: auto;

        &.is-open {
            display: flex;
        }    
    }   
    @media screen and (min-width: $brk-point-tablet) {
        display: flex;
        align-items: center;
    } 
    
}

.nav-list {
    @media screen and (min-width: $brk-point-tablet) {
        display: flex;
        margin-right: 84px;
    }
}

.nav-list__item {
    @media screen and (max-width: $brk-point-tablet-) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: $brk-point-tablet) {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.nav-list__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $color-main-text;

    font-size: 40px;
    line-height: (47px / 40px);
    
    @media screen and (min-width: $brk-point-tablet) {
        padding: 32px 0;
        font-size: 14px;
        line-height: (16px / 14px);
    }
}

.nav-list__link--current {
    color: $color-accent;

    @media screen and (min-width: $brk-point-tablet) {
        position: relative;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 4px;
            background-color: $color-accent;
            border-radius: 2px;
        }
    
    }
}

.contacts-list {
    @media screen and (max-width: $brk-point-tablet-) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.contacts-list__item {
    font-weight: 500;
    letter-spacing: 0.02em;

    @media screen and (max-width: $brk-point-tablet-) {
        &--mail {
            padding-bottom: 64px;
            font-size: 24px;
            line-height: (28px / 24px);
            color: $color-sec-text;
        }
        &--tel {
            padding-bottom: 32px;
            font-size: 34px;
            line-height: (40px / 34px);
            color: $color-accent;
        }
    }   

    @media screen and (min-width: $brk-point-tablet) {
        font-size: 12px;
        line-height: (14px / 12px);
        color: $color-sec-text;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

.contacts-list__link {
    color: inherit;

    @media screen and (min-width: $brk-point-tablet) {
        display: flex;
        align-items: center;
    }
}


.contacts-list__icon {
    margin-right: 8px;
    fill: currentColor;

    @media screen and (max-width: $brk-point-tablet-) {
        display: none;
    }
}

.header-social {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: $brk-point-tablet) {
        display: none;
    }
}
.header-social--item {

    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
        padding-left: 10px;
    }
}

.header-social--link {
    font-weight: 500;
    font-size: 18px;
    line-height: (22px / 18px);
    letter-spacing: 0.02em;
    color: $color-accent;
}

