.backdrop {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-y: scroll;

    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: opacity $trans-dur $trans-time-func,
        visibility $trans-dur $trans-time-func;
}

.backdrop--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop--is-hidden .backdrop__modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.backdrop__modal {
    overflow-y: auto;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: calc(100% - 30px);
    max-width: 450px;
    max-height: calc(100vh - 30px);
    padding: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform $trans-dur $trans-time-func;
}

.backdrop__modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    cursor: pointer;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: color $trans-dur $trans-time-func;

    &:hover,
    &:focus {
        color: $color-accent;
    }
}

.backdrop__modal-icon {
    fill: currentColor;
}

.backdrop__modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: (30px / 20px);
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}