.portfolio-section {
    text-align: center;
    padding: 60px 0;
}

.buttons-filter {
    display: inline-flex;
    flex-wrap: wrap;

    @media screen and (max-width: $brk-point-tablet-) {
        margin-right: -8px;
        margin-bottom: 40px - 15px;
    }
    
    @media screen and (min-width: $brk-point-tablet) {
        margin-bottom: 30px;;
    }
}

.buttons-filter__item {
    @media screen and (max-width: $brk-point-tablet-) {
        margin-right: 8px;
        margin-bottom: 15px;
    }
    
    @media screen and (min-width: $brk-point-tablet) {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.buttons-filter__btn {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    color: $color-main-text;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;

    transition: color $trans-dur $trans-time-func,
        background-color $trans-dur $trans-time-func,
        box-shadow $trans-dur $trans-time-func;

    &:hover,
    &:focus {
        color: $color-third-text;
        background-color: $color-accent;
        cursor: pointer;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.projects-list {
    @media screen and (min-width: $brk-point-tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.projects-list__item {
    transition: box-shadow $trans-dur $trans-time-func;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (max-width: $brk-point-tablet-) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width: $brk-point-tablet) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }
}

.projects-list__item:hover .projects-list__description {
    transform: translateY(-100%);
}

.projects-list__container {
    position: relative;
    overflow: hidden;
}

.projects-list__image {
    display: block;
}

.projects-list__description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: flex;
    align-items: center;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: (28px / 18px);
    letter-spacing: 0.03em;
    text-align: left;
    color: $color-third-text;

    transition: transform $trans-dur $trans-time-func;

    @media screen and (max-width: $brk-point-mobile-) {
        font-size: 3.8vw;
    }
}

.projects-list__name-cont {
    padding: 20px 24px;
    text-align: left;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.projects-list__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-list__type {
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $color-sec-text;
}