.team-section {
    background: #F5F4FA;
    padding: 60px 0;
    text-align: center;

    @media screen and (min-width: $brk-point-desktop) {
        padding: 94px 0;
    }
}

.team-list {
    @media screen and (min-width: $brk-point-tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team-list__item {
    // display: inline-block;
    padding-bottom: 30px;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: $brk-point-tablet-) {
        max-width: 450px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $brk-point-tablet) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $brk-point-desktop) {
        width: calc((100% - 120px) / 4);
    }
}

.team-list__photo {
    margin-bottom: 30px;
}

.team-list__name,
.team-list__position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team-list__name {
    margin-bottom: 10px;
}

.team-list__position {
    margin-bottom: 16px;
    font-weight: 400;
    color: $color-sec-text;

}