.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    // padding: 200px 0;
    max-width: 1600px;
    text-align: center;
    background-color: #C4C4C4;
    background-position: center;
    background-size: cover;
    min-height: 400px;

    @media screen and (max-width: $brk-point-mobile) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-mobile.jpg);
        
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-mobile@2x.jpg);
        }
    }
    
    @media screen and (min-width: ($brk-point-mobile + 1px)) and (max-width: $brk-point-tablet) {
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-tablet.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-tablet@2x.jpg);
        }
    }

    @media screen and (min-width: ($brk-point-tablet + 1px) ) {
        min-height: 600px;
        background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-desktop.jpg);
    
        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/hero-desktop@2x.jpg);
        }
    }

    }

    

    
    
.hero-section__slogan {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-third-text;
}