.features-section {
    padding: 60px 0;

    @media screen and (min-width: $brk-point-desktop) {
        padding: 94px 0 47px;
    }
}

.features-list {
    @media screen and (min-width: $brk-point-tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}


.features-list__item {
    @media screen and (max-width: $brk-point-tablet-) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: $brk-point-tablet) {
        margin: 15px;
        width: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: $brk-point-desktop) {
        width: calc((100% - 120px) / 4);
    }
}

.features-list__icon-wrap {
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-list__icon {
    width: 70px;
    height: 70px;
}

.features-list__feature {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-list__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $color-sec-text;
}